doctype html
html
  head
    title Impractica: a relatively-spced serif syntax highlighter
    link(href="prism-impractica.css", rel="stylesheet")
    script(src="prism.js")

    script(type='text/javascript', src='//use.typekit.net/bzl6oyh.js')
    script(type='text/javascript').
        try{Typekit.load();}catch(e){}

  body
    include _javascript
    include _ruby